
# Node.js Application Settings
NODE_ENV=development
PORT=3000
LOG_LEVEL=debug

# DocuSign Authentication
SECRET_KEY="your_secret_key_here" # This should only be needed if you generate your secret keys using the command line tool. If you are using the DocuSign API to generate them, you can leave this blank.
CLIENT_ID=81af5da4-9739-4349-9790-4789da44becb
TOKEN_URL='https://account-d.docusign.com/oauth/token'
DOCUSIGN_API_BASE='https://demo.docusign.net/restapi'
DOCUSIGN_USER_ID=your_user_id_here
REDIRECT_URI='http://localhost:3000/callback'
ACCOUNT_ID=your_account_id_here
PRIVATE_KEY_PATH=./Keys/private.key

# DocuSign Webhook Configuration
DOCUSIGN_WEBHOOK_URL=https://your-webhook-url/docusign/webhook
DOCUSIGN_WEBHOOK_SECRET=YOUR_WEBHOOK_SECRET

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/docusign_data
MONGODB_USER=your_mongodb_username_here
MONGODB_PASSWORD=your_mongodb_password_here

# Email Settings (Gmail SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-gmail-address@gmail.com
SMTP_PASS=your-app-password
EMAIL_FROM=your-gmail-address@gmail.com
# This would be the company's email address and the tech support email address
CUSTOMER_SUPPORT_EMAIL=customersupport@example.com
TECH_SUPPORT_EMAIL=techsupport@example.com
